@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
  ;
}

*::-webkit-scrollbar-thumb {
  background-color: #008a85;
  border-radius: 20px;
  ;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  font-family: 'Patua One', cursive;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.content {
  background-color: white;
  height: 400px;
  width: 800px;
  border-radius: 20px;
  overflow: auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  max-height: 350px;
  overflow-y: auto;
}